<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Employee</title>
</head>
<body>
<h1>
    Update Employee
</h1>

<form method="get" action="/employee/updated">
    <label>
        Firstname:
    </label>
    <input type="text" name="firstName">
    <br>

    <label>
        Lastname:
    </label>
    <input type="text" name="lastName">
    <br>

    <label>
        Email:
    </label>
    <input type="text" name="email">
    <br>

    <input type="submit">
</form>
</body>
</html>